.btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #295de3;
  border: none;
  transition: background 0.4s;
  cursor: pointer;
  a {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &:hover {
    background: #1542b7;
  }
}

.btn-transparent {
  background: transparent;
  color: #295de3;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  transition: background 0.4s;
  cursor: pointer;
}
